<div class="input-daterange input-group" id="data_1">
  <div class="input-group date">
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    <input type="text" value="" class="form-control" onblur={{action 'getData' value='target.value'}} readonly>
  </div>
</div>
<!--{{yield}}-->