<h2>关于我们</h2>
<p>可以用来存放你的所思所想，所见所得，并保存起来，永不丢失。轻轻松松入门吧：</p>
<p>想记笔记？很简单</p>
<p>- 点击“新建笔记”，写下此刻的绝妙想法或待办事项，或者保存你最喜欢的图片</p>
<p>- 使用网页剪辑插件，保存网页中你最感兴趣的部分</p>
<p>- 使用iPhone，Android和其他手机上的印象笔记应用拍下白板上的重要内容，聚会上收到的名片或陈年红酒上的标签。印象笔记甚至可以识别并搜索这些照片中的文字！</p>

<p>众多实用的功能</p>

<p>- 记笔记，存图片，列任务，看文章，什么都能做 。。。</p>
<p>- 使用任何电脑或者手机查看或者编辑笔记</p>
<p>- 搜索或查找笔记中的任何内容，包括图片中的印刷体文字</p>

<p>随时随地使用</p>

<p>- 在电脑或者手机上下载并安装</p>
<p>- 在网页浏览器上安装网页剪辑插件</p>
<p>- 通过电子邮件发送笔记到指定的笔记本中</p>
<p>- 通过印象笔记应用，如人脉，圈点等，导入内容到印象笔记</p>

<p>想要体验更先进的功能？加入印象笔记的高级会员吧！</p>