<br><br><table border="0" cellspacing="0" cellpadding="0" align="center">
	<tr><th><p style="padding:20px 0"><img src="/static/img/loading_plan.gif" style="display:block;margin:0 auto"/></p></th></tr>
  <tr><td><p style="padding:0;text-align: center;"><span style="font-size:40px;color:#ec4758">Error! </span> 您要预览的页面坐灰机跑路咯 <img src="/static/img/loading.gif" /></p></td></tr>
  <tr><td><p style="padding:0;text-align: center;">
    <a class="btn btn-warning btn-rounded" href="/">　返回首页　</a>　
    <a class="btn btn-danger btn-rounded" href="#">　重新加载　</a>
  </p></td></tr>
</table>