<br><br><table border="0" cellspacing="0" cellpadding="0" align="center">
	<tr><th><p style="padding:20px 0"><img src="/static/img/loading_plan.gif" style="display:block;margin:0 auto"/></p></th></tr>
	<tr><td><p style="padding:0;text-align: center;">服务器君正在乘坐急速号航班赶来<img src="/static/img/loading.gif" /></p></td></tr>
</table>